.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-card{
    box-shadow: rgb(58 255 1 / 33%) 0px 4px 16px;
}

.img{
    display: flex;
    justify-content: center;
    height: 75%;
    align-items: center;
    width: 100%;
}