<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: 12px">Listado de productos comprados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="carritos.length !== 0">
    <ion-card *ngFor="let item of carritos">
        <ion-card-header>
            <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
            <ion-card-title>{{item.name}} X1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              {{item.description}}
              <div class="info">
                  <div class="start">
                      <ion-icon name="star-outline" color="warning"></ion-icon>
                      <ion-badge slot="end" color="primary">{{item.score}}</ion-badge>
                  </div>
                  $ {{item.precio}}
              </div>
          </ion-card-content>
    </ion-card>
  </div>
  
  
  <div style="height:100%; text-align: center" *ngIf="carritos.length === 0">
  <div class="img" >
    <img src="../../../assets/undraw_empty_cart_co35.svg" alt="">
  </div>
  <strong>NO TIENES ORDENES REALIZADAS</strong>
  </div>
</ion-content>
